@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}
@layer components {
    .text-shadow-amaPink {
        text-shadow: 2px 2px 4px #5d1d41;
    }
    .text-shadow-amaPink-small {
        text-shadow: 1px 1px 2px #5d1d41;
    }
    .text-shadow-black {
        text-shadow: 2px 2px 4px #000000bc;
    }
    .text-shadow-violeta {
        text-shadow: 1px 1px 2px #9f3df5;
    }
}
